# extensions
*.pyc
*.log
*.jpg
*.png
*.gif

# files
.DS_Store
secrets.json
robots.txt
.htaccess

# directories
**/.sass-cache
**/.sass-cache/*
static/
gizmo/local_static/images
gizmo/local_static/js/images
