<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>{% block title %}DigitalGizmo{% endblock %}</title>
	<meta name="description" content="DigitalGizmo designs and produces websites, specializing in humanities, cultural heritage and educational websites.">
	<meta name="keywords" content="web development, web design, history, humanities, education, cultural heritage, how things work, visual explanations" url="http://www.digitalgizmo.com/">
	
  <link rel="stylesheet" type="text/css" href="{% static 'css/gizmo-styles.css' %}" media="all">
  
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/temp-for-juliet.css' %}" media="all"> -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
</head>
<body>
  <div id="wrapper">
  	{% block full_page %}
  	html will be inserted here
  	{% endblock full_page %}

    <footer>
      <ul>
          <li>&copy; 2017 DigitalGizmo</li>
          <li><a href="/">Home</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/services/">Services</a></li>
          <li><a href="/about/">About</a></li>
          <li class="last">Contact: <a href="mailto:info@digitalgizmo.com">info@digitalgizmo.com</a></li>
      </ul>

      <img class="mobile-logo" src="{% static 'images/gear-logo.png' %}" alt="Logo image">

    </footer>
    
  </div><!--/wrapper-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89026430-1', 'auto');
    ga('send', 'pageview');
  </script>

</body>
</html>
