{% extends "base.html" %}
{% load staticfiles %}

{% block title %}DigitalGizmo - Projects{% endblock %}

{% block full_page %}
<header>

	<div class="logotype-anim">
		<!-- SVG Animation  -->
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1870 400" style="enable-background:new 0 0 200 200;" xml:space="preserve">

			<g id="g-wheel" transform="matrix(.85, 0, 0, .85, 1110, -380)">
				<ellipse class="fill stroke1 miterlimit" cx="345.3" cy="654.3" rx="248.6" ry="248.6"/>
				<path class="no-fill stroke1 miterlimit" d="M334.8,606.8c-3.9-9.1-40.7-101.6-59-151.7c-17.8-48.6,155.9-51.4,137.9,3.2c-17,49.2-52.5,137.7-56.8,148.4
					C352.9,616.4,338.8,615.9,334.8,606.8z"/>
				<circle class="no-fill stroke1" cx="420.5" cy="470.4" r="7.3"/>
				<circle class="no-fill stroke1" cx="408" cy="502.1" r="4.3"/>
				<circle class="no-fill stroke1" cx="392.9" cy="536.4" r="3.3"/>
				<path class="no-fill stroke1 miterlimit" d="M303.3,629.4c-9.2-3.6-100.6-43.1-149-65.6c-47-21.8,73.9-146.6,99.8-95.2c22.8,46.8,60.3,134.5,64.7,145.1
					C322.8,623.5,312.5,633.1,303.3,629.4z"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -254.3935 327.9875)" class="no-fill stroke1 miterlimit" cx="268.7" cy="471.1" rx="7.3" ry="7.3"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -272.7357 346.522)" class="no-fill stroke1 miterlimit" cx="281.9" cy="502.5" rx="4.3" ry="4.3"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -293.4091 366.6033)" class="no-fill stroke1 miterlimit" cx="295.8" cy="537.5" rx="3.3" ry="3.3"/>
				<path class="no-fill stroke1 miterlimit" d="M298,664.9c-9.1,3.9-101.6,40.7-151.7,59C97.7,741.7,94.9,568,149.5,586c49.2,17,137.7,52.5,148.4,56.8
					C307.6,646.9,307.1,661,298,664.9z"/>
				<circle class="no-fill stroke1" cx="166.6" cy="581.2" r="7.3"/>
				<circle class="no-fill stroke1" cx="198.3" cy="593.8" r="4.3"/>
				<circle class="no-fill stroke1" cx="230.6" cy="607.9" r="3.3"/>
				<path class="no-fill stroke1 miterlimit" d="M319,695.4c-3.6,9.2-43.1,100.6-65.6,149c-21.8,47-146.6-73.9-95.2-99.8c46.8-22.8,134.5-60.3,145.1-64.7
					C313.1,675.9,322.7,686.2,319,695.4z"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -465.6508 331.7831)" class="no-fill stroke1 miterlimit" cx="167.7" cy="728" rx="7.3" ry="7.3"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -448.1182 349.716)" class="no-fill stroke1 miterlimit" cx="198.1" cy="715.8" rx="4.3" ry="4.3"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -427.915 368.6801)" class="no-fill stroke1 miterlimit" cx="231.1" cy="700.9" rx="3.3" ry="3.3"/>
				<path class="no-fill stroke1 miterlimit" d="M356.9,702.6c3.9,9.1,40.7,101.6,59,151.7C433.7,903,260,905.8,278,851.2c17-49.2,52.5-137.7,56.8-148.4
					C338.8,693.1,353,693.6,356.9,702.6z"/>
				<circle class="no-fill stroke1" cx="269.2" cy="838.1" r="7.3"/>
				<circle class="no-fill stroke1" cx="282.8" cy="806.4" r="4.3"/>
				<circle class="no-fill stroke1" cx="296.8" cy="772.1" r="3.3"/>
				<path class="no-fill stroke1 miterlimit" d="M386.4,679.6c9.2,3.6,100.6,43.1,149,65.6c47,21.8-73.9,146.6-99.8,95.2c-22.8-46.8-60.3-134.5-64.7-145.1
					C366.9,685.6,377.2,676,386.4,679.6z"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -468.2576 543.5508)" class="no-fill stroke1 miterlimit" cx="422" cy="837" rx="7.3" ry="7.3"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -449.9151 525.0154)" class="no-fill stroke1 miterlimit" cx="408.8" cy="805.6" rx="4.3" ry="4.3"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -429.9491 505.2278)" class="no-fill stroke1 miterlimit" cx="394.9" cy="771.6" rx="3.3" ry="3.3"/>
				<path class="no-fill stroke1 miterlimit" d="M393.5,642.5c9.1-3.9,101.6-40.7,151.7-59c48.6-17.8,51.4,155.9-3.2,137.9c-49.2-17-137.7-52.5-148.4-56.8
					C383.9,660.6,384.4,646.5,393.5,642.5z"/>
				<circle class="no-fill stroke1" cx="523.9" cy="727.3" r="7.3"/>
				<circle class="no-fill stroke1" cx="493.3" cy="713.7" r="4.3"/>
				<circle class="no-fill stroke1" cx="459.9" cy="700.6" r="3.3"/>
				<path class="no-fill stroke1 miterlimit" d="M370.4,613c3.6-9.2,43.1-100.6,65.6-149c21.8-47,146.6,73.9,95.2,99.8c-46.8,22.8-134.5,60.3-145.1,64.7
					C376.4,632.5,366.8,622.2,370.4,613z"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -256.319 540.0807)" class="no-fill stroke1 miterlimit" cx="523.8" cy="579.4" rx="7.3" ry="7.3"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -274.1472 521.4448)" class="no-fill stroke1 miterlimit" cx="492.4" cy="591.6" rx="4.3" ry="4.3"/>
				<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -294.3502 502.4863)" class="no-fill stroke1 miterlimit" cx="459.4" cy="606.6" rx="3.3" ry="3.3"/>
				<ellipse class="fill stroke1 miterlimit" cx="346.3" cy="653.3" rx="111.7" ry="112.8"/>
				
				<g><!-- crown gear cogs -->
					<ellipse class="fill stroke1 miterlimit" cx="345.8" cy="655.3" rx="85.2" ry="85.2"/>
					<g>
						<path class="fill stroke1 miterlimit" d="M357.3,654.8c0-6.6-5.4-12-12-12c-2.5,0-4.8,0.8-6.7,2.1c-3.2,2.2-5.3,5.8-5.3,9.9c0,6.6,5.4,12,12,12
							C351.9,666.8,357.3,661.4,357.3,654.8z"/>
						<line class="fill stroke1 miterlimit" x1="353.5" y1="663.5" x2="336.3" y2="645.9"/>
					</g>

					<g>
						<rect x="343.2" y="526.6" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="356.6,570.7 349.7,553.7 349.7,526.6 356.7,542.2 		"/>
						<polygon class="fill stroke1 miterlimit" points="336.5,570.5 343.2,553.7 343.2,526.6 336.5,542 		"/>
					</g>

					<g>
						<rect x="313.9" y="530.4" transform="matrix(0.9659 -0.2588 0.2588 0.9659 -129.9706 100.6104)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="334.5,570.3 323.7,556.1 316.7,530 327.2,543.1 			"/>
						<polygon class="fill stroke1 miterlimit" points="315.1,575.8 317.5,558 310.5,531.7 307.7,548.3 			"/>
					</g>

					<g>
						<rect x="286.4" y="541.7" transform="matrix(0.866 -0.5 0.5 0.866 -238.8226 219.2303)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="313.3,576.2 299.2,565.4 285.7,541.9 299.2,551.8 			"/>
						<polygon class="fill stroke1 miterlimit" points="296,586.6 293.7,568.8 280.1,545.2 281.8,562 			"/>
					</g>

					<g>
						<rect x="262.3" y="559.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -327.6565 355.7329)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="293.9,587.5 277.4,580.7 258.3,561.5 273.9,567.6 			"/>
						<polygon class="fill stroke1 miterlimit" points="279.7,601.7 272.9,585.4 253.7,566.1 259.7,581.9 			"/>
					</g>

					<g>
						<rect x="243.7" y="583.3" transform="matrix(0.5 -0.866 0.866 0.5 -393.3678 512.2537)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="277.9,603.1 260.3,600.8 236.8,587.2 253.5,589.1 			"/>
						<polygon class="fill stroke1 miterlimit" points="268.1,620.8 257.2,606.5 233.6,592.8 243.4,606.6 			"/>
					</g>

					<g>
						<rect x="231.9" y="610.5" transform="matrix(0.2588 -0.9659 0.9659 0.2588 -428.5312 689.6651)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="266.7,622.2 249,624.4 222.9,617.4 239.5,614.9 			"/>
						<polygon class="fill stroke1 miterlimit" points="261.8,641.7 247.5,630.8 221.2,623.7 234.3,634.4 			"/>
					</g>

					<g>
						<rect x="227.8" y="640" transform="matrix(6.123234e-17 -1 1 6.123234e-17 -422.4147 884.577)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="261.1,643.5 244.6,650.3 217.5,650.3 232.9,643.5 			"/>
						<polygon class="fill stroke1 miterlimit" points="261.4,663.7 244.8,656.8 217.5,656.7 232.9,663.7 			"/>
					</g>

					<g>
						<rect x="231.3" y="669.4" transform="matrix(-0.2588 -0.9659 0.9659 -0.2588 -364.3457 1086.2703)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="261,665.5 246.8,676.3 220.7,683.3 233.8,672.8 			"/>
						<polygon class="fill stroke1 miterlimit" points="265.7,684.7 248.7,682.6 222.4,689.6 239,692.3 			"/>
					</g>

					<g>
						<rect x="241.9" y="697.8" transform="matrix(-0.5 -0.866 0.866 -0.5 -248.282 1279.3828)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="266.6,687.3 255.3,701.8 231.8,715.3 241.8,701.8 			"/>
						<polygon class="fill stroke1 miterlimit" points="276.5,705 258.7,707.4 235.1,720.9 251.9,719.3 			"/>
					</g>

					<g>
						<rect x="260.1" y="721.9" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 -70.5403 1441.6893)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="277.4,707.2 270.6,723.6 251.5,742.7 257.5,727.1 			"/>
						<polygon class="fill stroke1 miterlimit" points="291.9,721.2 275.3,728.1 256,747.3 271.8,741.4 			"/>
					</g>

					<g>
						<rect x="283.2" y="739.8" transform="matrix(-0.866 -0.5 0.5 -0.866 157.8258 1549.0516)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="292.8,722.4 290.4,740 276.9,763.5 278.7,746.8 			"/>
						<polygon class="fill stroke1 miterlimit" points="309.7,732.8 296.1,743.2 282.5,766.7 296.2,756.9 			"/>
					</g>

					<g>
						<rect x="311.2" y="752.2" transform="matrix(-0.9659 -0.2588 0.2588 -0.9659 420.061 1586.6851)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="312.6,734.1 314.8,751.8 307.8,777.9 305.3,761.4 			"/>
						<polygon class="fill stroke1 miterlimit" points="332.1,739 321.2,753.3 314.1,779.6 324.8,766.6 			"/>
					</g>

					<g>
						<rect x="340.7" y="756.2" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 687.7991 1539.4797)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="333.9,739.8 340.7,756.2 340.7,783.3 333.9,767.9 			"/>
						<polygon class="fill stroke1 miterlimit" points="353.9,740.5 347.2,756 347.1,783.3 354.1,767.9 			"/>
					</g>

					<g>
						<rect x="370.6" y="752.7" transform="matrix(-0.9659 0.2588 -0.2588 -0.9659 933.232 1409.5944)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="356.4,739.9 367.2,754 374.2,780.1 363.7,767.1 			"/>
						<polygon class="fill stroke1 miterlimit" points="375.6,735.2 373.5,752.1 380.5,778.5 383.2,761.8 			"/>
					</g>

					<g>
						<rect x="398.5" y="741.6" transform="matrix(-0.866 0.5 -0.5 -0.866 1127.282 1208.2028)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="378.1,734.2 392.2,745 405.7,768.5 392.2,758.6 			"/>
						<polygon class="fill stroke1 miterlimit" points="395.4,724.3 397.8,741.6 411.3,765.2 409.7,748.4 			"/>
					</g>

					<g>
						<rect x="422.6" y="724.5" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 1248.832 958.7228)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="397.1,723.3 414,730.7 433.1,749.9 417.5,743.8 			"/>
						<polygon class="fill stroke1 miterlimit" points="411.6,709.4 418.5,726 437.7,745.3 431.8,729.5 			"/>
					</g>

					<g>
						<rect x="440.5" y="700.8" transform="matrix(-0.5 0.866 -0.866 -0.5 1284.2611 687.228)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="412.8,708 430.4,710.4 453.8,723.9 437.2,722.1 			"/>
						<polygon class="fill stroke1 miterlimit" points="423.1,691.2 433.5,704.6 457.1,718.3 447.3,704.6 			"/>
					</g>

					<g>
						<rect x="452.8" y="673.3" transform="matrix(-0.2588 0.9659 -0.9659 -0.2588 1237.5114 424.0638)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="424.5,688.7 442.1,686.4 468.3,693.5 451.7,696 			"/>
						<polygon class="fill stroke1 miterlimit" points="429.9,669.7 443.7,680.1 470,687.2 456.9,676.5 			"/>
					</g>

					<g>
						<rect x="457.6" y="643.6" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 1117.9963 196.2838)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="430.2,667.3 447.3,660.4 474.4,660.4 459,667.1 			"/>
						<polygon class="fill stroke1 miterlimit" points="430.5,647 447.2,653.8 474.4,653.9 459,646.9 			"/>
					</g>

					<g>
						<rect x="453.6" y="613.7" transform="matrix(0.2588 0.9659 -0.9659 0.2588 944.4532 23.6041)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="430.5,644.6 444.6,633.8 470.8,626.8 457.7,637.3 			"/>
						<polygon class="fill stroke1 miterlimit" points="425.4,625.3 442.8,627.6 469.1,620.6 452.4,617.8 			"/>
					</g>

					<g>
						<rect x="443" y="585.2" transform="matrix(0.5 0.866 -0.866 0.5 741.6762 -87.0764)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="424.6,623 436.1,608.3 459.6,594.8 449.7,608.3 			"/>
						<polygon class="fill stroke1 miterlimit" points="414.9,605.1 432.7,602.8 456.3,589.2 439.6,590.9 			"/>
					</g>

					<g>
						<rect x="424.4" y="561.4" transform="matrix(0.7071 0.7071 -0.7071 0.7071 531.7849 -133.9789)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="413.5,603.2 420.3,586.8 439.5,567.7 433.4,583.3 			"/>
						<polygon class="fill stroke1 miterlimit" points="399,589.2 415.6,582.3 434.9,563.1 419.1,569 			"/>
					</g>

					<g>
						<rect x="400.7" y="542" transform="matrix(0.866 0.5 -0.5 0.866 331.8939 -127.5516)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="397.7,587.5 400,568.9 413.5,545.4 411.7,562.1 			"/>
						<polygon class="fill stroke1 miterlimit" points="380,576.7 394.3,565.8 407.9,542.2 394.2,552 			"/>
					</g>

					<g>
						<rect x="372.9" y="530.4" transform="matrix(0.9659 0.2588 -0.2588 0.9659 153.6144 -78.8291)" class="fill stroke1 miterlimit" width="6.5" height="27.1"/>
						<polygon class="fill stroke1 miterlimit" points="377.9,576.3 375.8,557.9 382.8,531.7 385.4,548.3 			"/>
						<polygon class="fill stroke1 miterlimit" points="358.5,570.6 369.5,556.4 376.6,530.1 365.8,543.1 			"/>
					</g>

				</g><!-- end crown gear cogs -->

			</g> <!-- end wheel -->

			<a xlink:href="/">
		    {% include '_gizmo-text.html' %}
			</a> <!-- end link for text -->


		</svg>
	</div> <!-- /logotype-anim -->
	<nav>
		<ul>
	   	<li><a href="/">Home</a></li>
	   	<li>Projects</li>
	   	<li><a href="/services/">Services</a></li>
	 		<li class="last"><a href="/about/">About</a></li>
	 	</ul>
	</nav>
	</header>

	<section id="page">
	<h1>Projects</h1>
	<p>Since the dawn of the web, we have created a variety of projects for a wide range of clients. Below are some of the highlights.</p>

	<ul class="projects-grid">
		
		<!-- IN PROGRESS -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/in-progress">
				<h3>Projects in Progress</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-in-progress.jpg" alt="Projects in Progress">
			</a>
			<p>We&apos;re currently working on several interesting new projects: developing in-gallery interactives for the Maine State Museum, early-stage development for a map-intensive website about mid-20th century urban renewal, reskinning the Mystic Seaport for Educators website, and waiting to hear about NEH funding for a project with Brown University entitled <em>The Anthropocene in the Americas</em>.</p>
			<p><a class="pop_item" href="/projects/in-progress">learn more</a></p>
		</li>

		<!-- IMPRESSIONS -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/impressions">
				<h3>Impressions from a Lost World</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-impressions.jpg" alt="Impressions from a Lost World">
			</a>
			<p>This award-winning online exhibit tells the story of the 19th century discovery of mysterious fossilized footprints in New England. The realization that these tracks were created by extinct creatures we now know as dinosaurs made a deep impression on the science and culture of that time.</p>
			<p><a href="https://www.dinotracksdiscovery.org/" target="external">visit the site</a> | 
				<a class="pop_item" href="/projects/impressions">quick view</a></p>
		</li>
				
		<!-- MYSTIC -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/mystic">
				<h3>Mystic Seaport for Educators</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-mystic.jpg" alt="Mystic Seaport for Educators">
			</a>
			<p>Mystic Seaport for Educators brings the treasures and resources of Mystic Seaport Museum&apos;s vast collection out of the archives and into classrooms and homes.</p>
			<p><a href="http://educators.mysticseaport.org/" target="external">visit the site</a> | <a class="pop_item" href="/projects/mystic">quick view</a></p>
		</li>

		<!-- ISAIAH -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/isaiah">
				<h3>Isaiah Thomas: Patriot Printer</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-isaiah.jpg" alt="Isaiah Thomas: Patriot Printer">
			</a>
			<p>A prototype developed for the American Antiquarian Society to transform their live historical presentation about Isaiah Thomas into an engaging online experience.</p>
			<p><a href="http://patriotprinter.org/" target="external">visit the site</a> | <a class="pop_item" href="/projects/isaiah">quick view</a></p>
		</li>

		<!-- ARTS & CRAFTS -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/artscrafts">
				<h3>The Arts &amp; Crafts Moment in Deer&filig;eld</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-artscrafts.jpg" alt="The Arts and Crafts Moment in Deerfield">
			</a>
			<p>The Arts and Crafts movement flowered at the beginning of the 20th century in the village of Deerfield, Massachusetts. The period&apos;s philosophical and artistic ideals were expressed in beautiful pieces that drew inspiration from the village's Colonial past</p>
			<p><a href="http://artscrafts-deerfield.org//" target="external">visit the site</a> | <a class="pop_item" href="/projects/artscrafts">quick view</a></p>
		</li>

		<!-- JERNEGAN -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/jernegan">
				<h3>Laura Jernegan: Girl on a Whaleship</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-jernegan.jpg" alt="Laura Jernegan: Girl on a Whaleship">
			</a>
			<p>In 1868, Laura Jernegan, a 6 year old girl from Martha&apos;s Vineyard, Massachusetts set out on a three year, round-the-world whaling voyage with her father a whaling captain. This website tells Laura&apos;s story by means of the journal she kept during her voyage.</p>
			<p><a href="http://girlonawhaleship.org/" target="external">visit the site</a> | <a class="pop_item" href="/projects/jernegan">quick view</a></p>
		</li>

		<!-- MASS FOOD -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/mfsc">
				<h3>Massachusetts Food System Collaborative</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-massfood.jpg" alt="Massachusetts Food System Collaborative">
			</a>
			<p>MFSC works to achieve a sustainable, equitable food system for the Commonwealth; this site presents their plan and related resources.</p>
			<p><a href="http://www.mafoodsystem.org/" target="external">visit the site</a> | 
				<a class="pop_item" href="/projects/mfsc">quick view</a></p>
		</li>


		<!-- 1704 -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/1704">
				<h3>Raid on Deer&filig;eld: the Many Stories of 1704</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-1704.jpg" alt="Raid on Deerfield: the Many Stories of 1704">
			</a>
			<p>An award-winning site that lets visitors explore a historical event from the diverse perspectives of the five cultural groups involved; offering a model for examining controversial events using a multicultural approach.</p>
			<p><a href="http://1704.deerfield.history.museum/" target="external">visit the site</a> | <a class="pop_item" href="/projects/1704">quick view</a></p>
		</li>


		<!-- SHAYS -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/shays">
				<h3>Shays&rsquo; Rebellion and the Making of a Nation</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-shays.jpg" alt="Shays' Rebellion and the Making of a Nation">
			</a>
			<p>Only three years after the American Revolution ended, thousands of Massachusetts citizens took up arms against their new state government. This site tells the story of Shays&apos; Rebellion.</p>
			<p><a href="http://shaysrebellion.stcc.edu/" target="external">visit the site</a> | <a class="pop_item" href="/projects/shays">quick view</a></p>
		</li>

		<!-- CENTURIES -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/centuries">
				<h3>American Centuries&hellip;View from New England</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-centuries.jpg" alt="American Centuries...View from New England">
			</a>
			<p>Over 2,500 primary source artifacts and documents from a historical museum&apos;s collection form the basis for exploring American history with lessons, hands-on activities, online exhibits and more.</p>
			<p><a href="http://americancenturies.mass.edu/" target="external">visit the site</a> | <a class="pop_item" href="/projects/centuries">quick view</a></p>
		</li>

		<!-- PHYSICS -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/physics">
				<h3>Physics for the 21st Century</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-physics.jpg" alt="Physics for the 21st Century">
			</a>
			<p>An online course developed for the Annenberg Foundation about the latest frontiers of physics.</p>
			<p><a href="https://www.learner.org/courses/physics/" target="external">visit the site</a> | <a class="pop_item" href="/projects/physics">quick view</a></p>
		</li>

		<!-- DOHISTORY -->
		<li class="projects-grid-item">
			<a class="pop_item" href="/projects/dohistory">
				<h3>DoHistory</h3>
				<img src="{% static 'sitewide/projects/menupics/' %}project-dohistory.jpg" alt="DoHistory">
			</a>
			<p>A ground-breaking, award-winning website based on the Pulitzer Prize winning book, &ldquo;A Midwife&apos;s Tale&rdquo; by historian and Harvard professor Laurel Thatcher Ulrich. This site is an early milestone in the development of digital humanities.</p>
			<p><a href="http://dohistory.org/" target="external">visit the site</a> | <a class="pop_item" href="/projects/dohistory">quick view</a></p>
		</li>

	</section><!--/page-->

<script src="{% static 'js/gizmo.js' %}" type="text/javascript"></script>

{% endblock full_page %}
