{% load staticfiles %}

<h1 class="slim-title">Raid on Deer&filig;eld: the Many Stories of 1704</h1>
<p class="slim-date">2004, Pocumtuck Valley Memorial Association</p>

<div class="highlight">
	<h2><a href="http://1704.deerfield.history.museum/home.do" target="external">About this site</a></h2>
	<p>In the pre-dawn hours of February 29, 1704, a force of about 300 French and Native allies launched a daring raid on the English settlement of Deerfield, Massachusetts. 112 men, women, and children were captured and taken on a 300-mile forced march to Canada in harsh winter conditions. Was this raid in contested lands an unprovoked, brutal attack on an innocent village of English settlers? Was it a justified military action against a stockaded settlement in a Native homeland? Or was it something else? This website presents all sides of the story so the user can decide.</p>
	<a href="http://1704.deerfield.history.museum/home.do" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}1704-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://1704.deerfield.history.museum/scenes/scene.do?title=Attack" target="external">Multiple Perspectives Interactive Scene</a></h2>
	<p>The history of the raid is told in ten scenes, most of which are interactive illustrations that let the visitor explore the image, read accounts of the action from five different cultural perspectives and link to related primary source material. Note: This feature was created  before the widespread adoption of HTML5 and was programmed in Flash which will not play on some browsers and devices. Flash files will play in Chrome with the Flash plug-in installed.</p>
	<a href="http://1704.deerfield.history.museum/scenes/scene.do?title=Attack" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}1704-attack.jpg" alt="Attack scene">
	</a>
</div>
