{% load staticfiles %}

<h1 class="slim-title">The Arts &amp; Crafts Moment in Deerfield</h1>
<p class="slim-date">2012, Pocumtuck Valley Memorial Association</p>

<div class="highlight">
	<h2>About this site</h2>
	<p></p>
	<img src="../images/arts-home.jpg" alt="Home page">
</div>

<div class="highlight">
	<h2>Treasures Menu</h2>
	<p></p>
	<img src="../images/arts-treasures.jpg" alt="Treasures Menu">
</div>

<div class="highlight">
	<h2>Biography</h2>
	<p></p>
	<img src="../images/arts-people.jpg" alt="Biography">
</div>

<div class="highlight">
	<h2>Timeline</h2>
	<p></p>
	<img src="../images/arts-timeline.jpg" alt="Timeline">
</div>

<div class="highlight">
	<h2>Site Catalog</h2>
	<p></p>
	<img src="../images/arts-catalog.jpg" alt="Site Catalog">
</div>
