{% load staticfiles %}

<h1 class="slim-title">The Arts &amp; Crafts Moment in Deer&filig;eld</h1>
<p class="slim-date">2012, Pocumtuck Valley Memorial Association</p>

<div class="highlight">
	<h2><a href="site" target="external">About this site</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}artscrafts-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Treasures Menu</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}artscrafts-treasures.jpg" alt="Treasures Menu">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Biography</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}artscrafts-person.jpg" alt="Biography">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Timeline</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}artscrafts-timeline.jpg" alt="Timeline">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Site Catalog</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}artscrafts-catalog.jpg" alt="Site Catalog">
	</a>
</div>
