{% load staticfiles %}

<h1 class="slim-title">American Centuries&hellip;View from New England</h1>
<p class="slim-date">1999 - ongoing, Pocumtuck Valley Memorial Association</p>

<div class="highlight">
	<h2><a href="http://americancenturies.mass.edu/" target="external">About this site</a></h2>
	<p>This website was launched in 1999 and has been actively growing ever since. With thousands of primary sources that are interpreted, zoomable, transcribed and searchable, the site is used by educators and historians alike. In addition to the Online Collection there are dozens of lessons, many interactive activities and several online exhibits.</p>
	<a href="http://americancenturies.mass.edu/" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}centuries-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://americancenturies.mass.edu/turns/index.jsp" target="external">Turns of the Centuries Online Exhibit</a></h2>
	<p>This online exhibit explores five topics at the turn of the 18th, 19th and 20th centuries.</p>
	<a href="http://americancenturies.mass.edu/turns/index.jsp" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}centuries-turns.jpg" alt="Turns of the Centuries Online Exhibit">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://americancenturies.mass.edu/activities/dressup/index.html" target="external">Dress Up Activity</a></h2>
	<p>The website presents dozens of "Dress Up" activities that let the visitor interactively learn about the unfamiliar clothing that Americans have worn throughout our nation&apos;s history. Dress Up is one of the most popular features on the website.</p>
	<a href="http://americancenturies.mass.edu/activities/dressup/index.html" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}centuries-dressup.jpg" alt="Dress Up Activity">
	</a>
</div>
