{% load staticfiles %}

<h1 class="slim-title">American Centuries&hellip;View from New England</h1>
<p class="slim-date">1999 - ongoing, Pocumtuck Valley Memorial Association</p>

<div class="highlight">
	<h2><a href="site" target="external">About this site</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}centuries-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Turns of the Centuries Online Exhibit</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}centuries-turns.jpg" alt="Turns of the Centuries Online Exhibit">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Dress Up Activity</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}centuries-dressup.jpg" alt="Dress Up Activity">
	</a>
</div>
