{% load staticfiles %}

<h1 class="slim-title">DoHistory</h1>
<p class="slim-date">1999, Harvard Film Study Center</p>

<div class="highlight">
	<h2><a href="site" target="external">About this site</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}dohistory-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Martha Ballard's Diary Online</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}dohistory-diary.jpg" alt="Martha Ballard's Diary Online">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Diary Transcription</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}dohistory-diary-text.jpg" alt="Diary Transcription">
	</a>
</div>
