{% load staticfiles %}

<h1 class="slim-title">DoHistory</h1>
<p class="slim-date">1999, Harvard Film Study Center</p>

<div class="highlight">
	<h2><a href="http://dohistory.org/" target="external">About this site</a></h2>
	<p>DoHistory is one of the first experiments in online digital humanities. The aim of the website is to introduce visitors to the process of &ldquo;doing history&rdquo;. The website does this by enabling the visitor to closely examine primary source material so they can begin to piece together patterns and see the stories that are revealed.</p>
	<a href="http://dohistory.org/" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}dohistory-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://dohistory.org/diary/1785/01/17850101_img.html" target="external">Martha Ballard&apos;s Diary Online</a></h2>
	<p>The heart of this site is the diary kept by Martha Ballard, a midwife practicing in 18th century Maine. This diary has almost 10,000 entries that detail Martha&apos;s life and work.</p>
	<a href="http://dohistory.org/diary/1785/01/17850101_img.html" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}dohistory-diary.jpg" alt="Martha Ballard's Diary Online">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://dohistory.org/diary/1785/01/17850101_txt.html" target="external">Diary Transcription</a></h2>
	<p>The diary is presented in full with every page transcribed and sophisticated search features to enable visitors to fully explore the document.</p>
	<a href="http://dohistory.org/diary/1785/01/17850101_txt.html" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}dohistory-diary-text.jpg" alt="Diary Transcription">
	</a>
</div>
