{% load staticfiles %}

<h1 class="slim-title">Impressions from a Lost World</h1>
<p class="slim-date">2017, Pocumtuck Valley Memorial Association</p>

<div class="highlight">
	<h2>About this site</h2>
	<p>This website explores the mid-19th century discovery of strange, 3-toed footprints, later understood as dinosaur tracks, in the Connecticut River Valley in Massachusetts and Connecticut. The significance of this first scientific discovery extended far beyond the emerging scientific community, with implications that had a profound effect not only on science but also on American religion, arts, and culture.</p>
	<img src="{% static 'sitewide/projects/detailpics/' %}impressions-home.jpg" alt="Story Introduction from Impressions website">
</div>

<div class="highlight">
	<h2>Story Introduction</h2>
	<p>The primary content of this site is told in six stories. Each story begins with an introductory page that was lavishly illustrated by local artist Monica Vachula. Monica did exhaustive research to ensure that her paintings were historically accurate.</p>
	<img src="{% static 'sitewide/projects/detailpics/' %}impressions-story.jpg" alt="Story Introduction from Impressions website">
</div>

<div class="highlight">
	<h2>Interactive Map</h2>
	<p>The protagonist of this website is Edward Hitchcock who, among many other professions, was a cartographer. He created the first geographic map of Massachusetts. The interactive map lets viewers overlay various historic maps onto present-day roads and terrain and then plot sites on it.</p>
	<img src="{% static 'sitewide/projects/detailpics/' %}impressions-map.jpg" alt="interactive map from Impressions website">
</div>

<div class="highlight">
	<h2>Find the Footprints</h2>
	<p>This activity challenges the user to closely observe the fossil trackways and identify the dinosaur footprints. It's harder than it sounds!</p>
	<img src="{% static 'sitewide/projects/detailpics/' %}impressions-footprints.jpg" alt="interactive activity: Find the Footprints from Impressions website">
</div>

