{% load staticfiles %}

<h1 class="slim-title">Projects in Progress</h1>
<p class="slim-date">last updated: July 2018</p>

<div class="highlight">
	<h2><a href="http://patriotprinter.org/becoming/index.html" target="external">About this site</a></h2>
	<p>Isaiah Thomas was a printer in Massachusetts during the American Revolution. This site tells about his exciting life in six chapters. Each chapter includes the four features shown below: a video, an interactive document, a game and a set of relevant primary sources.</p>
	<a href="http://patriotprinter.org/becoming/index.html" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}isaiah-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://patriotprinter.org/becoming/doc-ms.html" target="external">Artifact Explorer</a></h2>
	<p>Each interactive document can be explored by clicking the highlighted areas to see a small window offering more information.</p>
	<a href="http://patriotprinter.org/becoming/doc-ms.html" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}isaiah-explorer.jpg" alt="Artifact Explorer">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://patriotprinter.org/becoming/doc-lens.html" target="external">Transcription Lens</a></h2>
	<p>Another feature of the interactive document is the transcription lens; dragging the lens over the document reveals a text transcription.</p>
	<a href="http://patriotprinter.org/becoming/doc-lens.html" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}isaiah-lens.jpg" alt="Transcription Lens">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://patriotprinter.org/becoming/doc-closeread.html" target="external">Text Explorer</a></h2>
	<p>The interactive document also includes an interactive text transcription; highlighted lines link to historical explanations of the text, underlined text links to definitions and brief biographies.</p>
	<a href="http://patriotprinter.org/becoming/doc-closeread.html" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}isaiah-text.jpg" alt="Text Explorer">
	</a>
</div>
