{% load staticfiles %}

<h1 class="slim-title">Isaiah Thomas: Patriot Printer</h1>
<p class="slim-date">2016, American Antiquarian Society</p>

<div class="highlight">
	<h2>About this site</h2>
	<p></p>
	<img src="../images/isaiah-home.jpg" alt="Home page">
</div>

<div class="highlight">
	<h2>Artifact Explorer</h2>
	<p></p>
	<img src="../images/isaiah-explorer.jpg" alt="Artifact Explorer">
</div>

<div class="highlight">
	<h2>Transcription Lens</h2>
	<p></p>
	<img src="../images/isaiah-lens.jpg" alt="Transcription Lens">
</div>

<div class="highlight">
	<h2>Text Explorer</h2>
	<p></p>
	<img src="../images/isaiah-explorer.jpg" alt="Text Explorer">
</div>

