{% load staticfiles %}

<h1 class="slim-title">Isaiah Thomas: Patriot Printer</h1>
<p class="slim-date">2016, American Antiquarian Society</p>

<div class="highlight">
	<h2><a href="site" target="external">About this site</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}isaiah-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Artifact Explorer</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}isaiah-explorer.jpg" alt="Artifact Explorer">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Transcription Lens</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}isaiah-lens.jpg" alt="Transcription Lens">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Text Explorer</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}isaiah-text.jpg" alt="Text Explorer">
	</a>
</div>

