{% load staticfiles %}

<h1 class="slim-title">Laura Jernegan: Girl on a Whaleship</h1>
<p class="slim-date">2010, Martha's Vineyard Museum</p>

<div class="highlight">
	<h2>About this site</h2>
	<p></p>
	<img src="../images/jernegan-home.jpg" alt="Home page">
</div>

<div class="highlight">
	<h2>Explore Laura's Journal</h2>
	<p></p>
	<img src="../images/jernegan-journal.jpg" alt="Explore Laura's Journal">
</div>

<div class="highlight">
	<h2>Map of Whaling</h2>
	<p></p>
	<img src="../images/jernegan-map.jpg" alt="Map of Whaling">
</div>

<div class="highlight">
	<h2>Explore the Ship</h2>
	<p></p>
	<img src="../images/jernegan-ship.jpg" alt="Explore the Ship">
</div>
