{% load staticfiles %}

<h1 class="slim-title">Laura Jernegan: Girl on a Whaleship</h1>
<p class="slim-date">2010, Martha&apos;s Vineyard Museum</p>

<div class="highlight">
	<h2><a href="http://girlonawhaleship.org/" target="external">About this site</a></h2>
	<p>This website, produced by the Martha&apos;s Vineyard Museum, tells the story of Laura Jernegan and the journal she kept on her voyage. It also tells the adventurous history of the 19th century American whaling industry.</p>
	<a href="http://girlonawhaleship.org/" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}jernegan-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://girlonawhaleship.org/jernapp/journal.do" target="external">Explore Laura&apos;s Journal</a></h2>
	<p>The interactive journal lets users read every page of Laura&apos;s original hand-written diary, listen to her words with a &ldquo;Read Aloud&rdquo; feature, read the journal in transcription and link to images and text that help explain and deepen her words.</p>
	<a href="http://girlonawhaleship.org/jernapp/journal.do" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}jernegan-journal.jpg" alt="Explore Laura's Journal">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://girlonawhaleship.org/jernapp/map.do" target="external">Map of Whaling</a></h2>
	<p>Users can explore whaling geographically with the Map of Whaling; plot actual whaling voyages, learn about common ports of call, display ocean currents and whaling migration patterns that influenced whaling routes and see how the whaling industry depleted the world&apos;s oceans of several species of whales.</p>
	<a href="http://girlonawhaleship.org/jernapp/map.do" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}jernegan-map.jpg" alt="Map of Whaling">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://girlonawhaleship.org/jernapp/ship.do" target="external">Explore the Ship</a></h2>
	<p>Cursor over the ship and click to see and learn about the crew and how the ship looks inside.</p>
	<a href="http://girlonawhaleship.org/jernapp/ship.do" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}jernegan-ship.jpg" alt="Explore the Ship">
	</a>
</div>
