{% load staticfiles %}

<h1 class="slim-title">Laura Jernegan: Girl on a Whaleship</h1>
<p class="slim-date">2010, Martha's Vineyard Museum</p>

<div class="highlight">
	<h2><a href="site" target="external">About this site</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}jernegan-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Explore Laura's Journal</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}jernegan-journal.jpg" alt="Explore Laura's Journal">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Map of Whaling</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}jernegan-map.jpg" alt="Map of Whaling">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Explore the Ship</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}jernegan-ship.jpg" alt="Explore the Ship">
	</a>
</div>
