{% load staticfiles %}

<h1 class="slim-title">Massachusetts Food System Collaborative</h1>
<p class="slim-date">2016, MFSC</p>

<div class="highlight">
	<h2>About this site</h2>
	<p></p>
	<img src="../images/mfsc-home.jpg" alt="Home page">
</div>

<div class="highlight">
	<h2>The Plan</h2>
	<p></p>
	<img src="../images/mfsc-plan.jpg" alt="MFSC Plan">
</div>

<div class="highlight">
	<h2>Plan Goals</h2>
	<p></p>
	<img src="../images/mfsc-goals.jpg" alt="Goals">
</div>

<div class="highlight">
	<h2>Search the Plan</h2>
	<p></p>
	<img src="../images/mfsc-search.jpg" alt="Searching the Plan">
</div>

