{% load staticfiles %}

<h1 class="slim-title">Massachusetts Food System Collaborative</h1>
<p class="slim-date">2016, MFSC</p>

<div class="highlight">
	<h2><a href="http://www.mafoodsystem.org/" target="external">About this site</a></h2>
	<p>This website presents the Massachusetts Local Food Action Plan created by the Massachusetts Food System Collaborative. The goal of the Plan is to improve our local food system.</p>
	<a href="http://www.mafoodsystem.org/" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}mfsc-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://www.mafoodsystem.org/plan/land/" target="external">The Plan</a></h2>
	<p>MFSC&apos;s Plan addresses the opportunities and challenges of Massachusett&apos;s local food system and address equity, sustainability, access, production and distribution.</p>
	<a href="http://www.mafoodsystem.org/plan/land/" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}mfsc-plan.jpg" alt="MFSC Plan">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://www.mafoodsystem.org/plan/search/" target="external">Search the Plan</a></h2>
	<p>The Plan is fully searchable using keywords as well as checkboxes to narrow results across multiple categories.</p>
	<a href="http://www.mafoodsystem.org/plan/search/" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}mfsc-search.jpg" alt="Searching the Plan">
	</a>
</div>

