{% load staticfiles %}

<h1 class="slim-title">Mystic Seaport for Educators</h1>
<p class="slim-date">2016, Mystic Seaport Museum</p>

<div class="highlight">
	<h2>About this site</h2>
	<p></p>
	<img src="../images/mystic-home.jpg" alt="Home page">
</div>

<div class="highlight">
	<h2>Resource Sets</h2>
	<p></p>
	<img src="../images/mystic-resourcesets.jpg" alt="Resource Sets">
</div>

<div class="highlight">
	<h2>Artifact Articles</h2>
	<p></p>
	<img src="../images/mystic-artifact.jpg" alt="Artifact Article">
</div>

<div class="highlight">
	<h2>Active Maps</h2>
	<p></p>
	<img src="../images/mystic-map.jpg" alt="Active Map">
</div>

