{% load staticfiles %}

<h1 class="slim-title">Mystic Seaport for Educators</h1>
<p class="slim-date">2016, Mystic Seaport Museum</p>

<div class="highlight">
	<h2><a href="https://educators.mysticseaport.org/" target="external">About this site</a></h2>
	<p>The MSE Project represents a shift from delivering content in a static, one-way manner to a more participatory learning model that fosters shared authority, merging the expertise of museum staff with the standards-based needs of classroom educators.</p>
	<a href="https://educators.mysticseaport.org/" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}mystic-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="https://educators.mysticseaport.org/sets/" target="external">Resource Sets</a></h2>
	<p>Each Resource Set offers a collection of MSE website features (Artifact Articles, Living Manuscripts, Active Maps, Lectures and Scholar Interviews) grouped by a common theme or topic. </p>
	<a href="https://educators.mysticseaport.org/sets/" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}mystic-resourcesets.jpg" alt="Resource Sets">
	</a>
</div>

<div class="highlight">
	<h2><a href="https://educators.mysticseaport.org/artifacts/" target="external">Artifact Articles</a></h2>
	<p>Artifact Articles offer brief information and historical context about an artifact from Mystic&apos;s museum collection. Artifact Articles are written by MSE teachers as a component of their professional development. Artifact Articles include classroom-friendly features such as Questions for Deeper Thought, Artifact Facts, Related Items from the Collection, In the Classroom Ideas, Related Resources and Related Websites.</p>
	<a href="https://educators.mysticseaport.org/artifacts/" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}mystic-artifact.jpg" alt="Artifact Article">
	</a>
</div>

<div class="highlight">
	<h2><a href="https://educators.mysticseaport.org/maps/voyage/morgan_first/" target="external">Active Maps</a></h2>
	<p>Active Maps plot the voyages of historic ships based on the coordinates recorded in the ship's logbook. Each logbook entry is plotted on the map and can be clicked to reveal the entry itself. Additional information such as weather events and whale hunting details are also visible on the maps.</p>
	<a href="https://educators.mysticseaport.org/maps/voyage/morgan_first/" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}mystic-map.jpg" alt="Active Map">
	</a>
</div>
