{% load staticfiles %}

<h1 class="slim-title">Mystic Seaport for Educators</h1>
<p class="slim-date">2016, Mystic Seaport Museum</p>

<div class="highlight">
	<h2><a href="site" target="external">About this site</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}mystic-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Resource Sets</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}mystic-resourcesets.jpg" alt="Resource Sets">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Artifact Articles</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}mystic-artifact.jpg" alt="Artifact Article">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Active Maps</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}mystic-map.jpg" alt="Active Map">
	</a>
</div>

