{% load staticfiles %}

<h1 class="slim-title">Physics for the 21st Century</h1>
<p class="slim-date">2010, Science Media Group, Annenberg Learner</p>

<div class="highlight">
	<h2><a href="https://www.learner.org/courses/physics/" target="external">About this site</a></h2>
	<p>Physics for the 21st Century is directed at high school and college students and professors to bring them up to date on the latest discoveries and thinking.</p>
	<a href="https://www.learner.org/courses/physics/" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}physics-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="https://www.learner.org/courses/physics/interactive/lab_bytype.html?scale=macro" target="external">Laser Cooling Interactive</a></h2>
	<p>The website includes three hands-on labs to help visitors conduct virtual experiments. The goal of this activity is to slow the atoms so they can be captured in the trap. This is acheived by setting the temperature of the oven and adjusting the strength of the magnets. Note: This feature was created  before the widespread adoption of HTML5 and was programmed in Flash which will not play on some browsers and devices. Flash files will play in Chrome with the Flash plug-in installed.</p>
	<a href="https://www.learner.org/courses/physics/interactive/lab_bytype.html?scale=macro" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}physics-laser.jpg" alt="Laser Cooling Interactive">
	</a>
</div>
