{% load staticfiles %}

<h1 class="slim-title">Physics for the 21st Century</h1>
<p class="slim-date">2010, Science Media Group, Annenberg Learner</p>

<div class="highlight">
	<h2><a href="site" target="external">About this site</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}physics-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="site" target="external">Laser Cooling Interactive</a></h2>
	<p>short blurb</p>
	<a href="site" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}physics-laser.jpg" alt="Laser Cooling Interactive">
	</a>
</div>
