{% load staticfiles %}

<h1 class="slim-title">Shays&rsquo; Rebellion and the Making of a Nation</h1>
<p class="slim-date">2008, Pocumtuck Valley Memorial Association</p>

<div class="highlight">
	<h2><a href="http://shaysrebellion.stcc.edu/index.html" target="external">About this site</a></h2>
	<p>&ldquo;Shays&apos; Rebellion and the Making of a Nation&rdquo; explores this important moment in the early formation of our country through interactive illustrations, biographies, maps and primary source material. Historic context is provided by period music, thematic essays and an illustrated timeline.</p>
	<a href="http://shaysrebellion.stcc.edu/index.html" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}shays-home.jpg" alt="Home page">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://shaysrebellion.stcc.edu/shaysapp/scene.do?shortName=War" target="external">Multiple Perspectives Interactive Scene</a></h2>
	<p>Each interactive scene recounts an pivotal moment or event in the history of the Rebellion. Each scene is described from the perspectives of the key groups that were present and is supported by quotes from contemporary thinkers, relevant historic themes and related artifacts and documents.</p>
	<a href="http://shaysrebellion.stcc.edu/shaysapp/scene.do?shortName=War" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}shays-scene.jpg" alt="interactive scene">
	</a>
</div>

<div class="highlight">
	<h2><a href="http://shaysrebellion.stcc.edu/shaysapp/themes/home.do" target="external">Themes Grid</a></h2>
	<p>This page presents each historic scene (listed across the top) considered in the context of four different humanities themes (down the left column) enabling the visitor to explore each theme through the example of the historic events.</p>
	<a href="http://shaysrebellion.stcc.edu/shaysapp/themes/home.do" target="external">
		<img src="{% static 'sitewide/projects/detailpics/' %}shays-themes.jpg" alt="Themes page">
	</a>
</div>
